/*@font-face {*/
    /*font-family: 'ToyotaDisplay';*/
    /*src: url('font/ToyotaDisplay-Regular.eot?#iefix') format('embedded-opentype'),*/
    /*url('font/ToyotaDisplay-Regular.woff') format('woff'),*/
    /*url('font/ToyotaDisplay-Regular.ttf')  format('truetype'),*/
    /*url('font/ToyotaDisplay-Regular.svg#ToyotaDisplay-Regular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/


body {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h1 {
    text-align: center;
    font-size: 30px;
}

label {
    font-weight: 400;
}

.main {
    padding: 40px 0;
}

.logo {
    text-align: right;
}

.logo img {
    max-width: 150px;
}

#opros {
    margin: 40px 0;
}

#preload {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

#alert, #progress, #button {
    display: none;
}

#alert {
    width: 250px;
    text-align: center;
    position: relative;
    top: -70px;
    left: 70%;
    margin-left: -125px;
}

#question {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

#answers {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

#button {
    padding-top: 40px;
    padding-bottom: 20px;

    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    outline: none;
}

ul li {
    margin-bottom: 10px;
}

input[type=radio] {
    margin-right: 10px;
}

input[type=checkbox] {
    margin-right: 10px;
}

.open-answer-answer {
    margin-left: 20px;
}

.open-answer-answer input{
    min-width: 300px;
}

.open-question-answer input{
    min-width: 100%;
}

.progress-bar-success {
    background-color: #624237;
}

.btn-success {
    background-color: #624237;
    border-color: #624237;
    outline: none;
}

.btn-success:focus, .btn-success:active, .btn-success:hover, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #754f42;
    border-color: #754f42;
}

#fountainG{
    position:relative;
    width:234px;
    height:28px;
    margin:auto;
    margin-top: 20px;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(0,0,0);
    width:28px;
    height:28px;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#fountainG_2{
    left:29px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#fountainG_3{
    left:58px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#fountainG_4{
    left:88px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#fountainG_5{
    left:117px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#fountainG_6{
    left:146px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#fountainG_7{
    left:175px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#fountainG_8{
    left:205px;
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
    0%{
        transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
        -o-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
        -ms-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
        -webkit-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
        -moz-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
